<section class="cta cta-noodles">
    <div id="cta">
        <section class="bg bg-cta">
            <div class="wrapper-cta">
                <div class="header header-cta">
                    <a class="logo" href="/">
                        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo_cta.png" alt="">
                    </a>
                    <h2>What’s your Project About?</h2>
                    <div class="subheading">We would love to know about your line of business and how we can help you grow!</div>
                    {% include 'components/cta_button.html' %}
                </div>
                <div class="project">
                    <div class="image">
                        <a>
                            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/abstract_cta.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<footer>
    <div class="left-side">
        <a class="logo" href="/">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.svg" alt="">
            SmileServices.dev
        </a>
        <div class="small">© 2020, smileservices.dev All Rights Reserved.</div>
    </div>
    <div class="right-side">
        <a href="/#showcases">Showcases</a>
        <a href="/#process">Work Process</a>
        <a href="/blog">Blog</a>
        <a onclick="openModal('modal-contact')">Contact</a>
    </div>
</footer>