<nav>
    <div class="left-side">
        <a class="logo" href="/">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.svg" alt="">
            SmileServices.dev
        </a>
    </div>
    <div class="right-side">
        <div class="menu-container" id="navbar-menu">
            <ul class="nav-menu mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#showcases">Showcases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#process">Work Process</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cta-button" href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="toggle-nav-menu" onclick="document.getElementById('navbar-menu').classList.toggle('open')">
            <svg width="25" height="21" viewBox="0 0 25 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="0.993408" y1="2.45703" x2="24.9934" y2="2.45703" stroke-width="4"/>
                <line x1="0.993408" y1="10.457" x2="24.9934" y2="10.457" stroke-width="4"/>
                <line x1="0.993408" y1="18.457" x2="24.9934" y2="18.457" stroke-width="4"/>
            </svg>
        </div>
    </div>
</nav>