<nav>
    <div class="left-side">
        <a class="logo" href="/">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.svg" alt="">
            SmileServices.dev
        </a>
    </div>
    <div class="right-side">
        <div class="menu-container" id="navbar-menu">
            <ul class="nav-menu mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/noodles.html">Showcases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#process">Work Process</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cta-button" onclick="openModal('modal-contact')">Contact</a>
                </li>
            </ul>
        </div>
        <div class="toggle-nav-menu" onclick="document.getElementById('navbar-menu').classList.toggle('open')">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
                <path d="M0 0.137695H20V2.1377H0V0.137695Z" fill="black"/>
                <path d="M4 5H20V7H4V5Z" fill="black"/>
                <path d="M20 9.8623H8V11.8623H20V9.8623Z" fill="black"/>
            </svg>
        </div>
    </div>
</nav>