<nav class="navbar navbar-expand-md fixed-top">
    <div class="container">
        <input type="checkbox" id="navbar-toggle-cbox">
        <a class="navbar-brand" href="/">
            <svg viewBox="0 0 80 120" width="30" height="30" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,104.000000) scale(0.100000,-0.100000)">
                    <path d="M208 1029 c-72 -11 -146 -56 -171 -104 -20 -37 -22 -58 -25 -257 l-4
-218 70 0 70 0 4 205 3 205 28 27 c23 23 36 28 77 28 41 0 54 -5 77 -28 l28
-27 3 -205 3 -205 70 0 69 0 0 194 c0 107 4 206 10 220 21 57 128 73 174 27
20 -20 21 -35 26 -217 6 -226 6 -227 95 -222 l50 3 0 205 c0 216 -6 249 -49
299 -62 70 -233 96 -326 48 l-45 -22 -50 21 c-60 26 -123 34 -187 23z"></path>
                    <path d="M24 303 c13 -100 82 -195 173 -242 203 -103 486 -57 599 98 31 43 44
79 59 159 l7 32 -71 0 c-69 0 -71 -1 -77 -27 -22 -103 -84 -152 -217 -174 -94
-15 -219 16 -281 70 -24 21 -56 84 -56 111 0 18 -6 20 -71 20 l-72 0 7 -47z"></path>
                </g>
            </svg>
        </a>
        <label for="navbar-toggle-cbox" class="navbar-toggler navbar-toggle collapsed" data-toggle="collapse"
               data-target="#navbar"
               aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span>
                <svg viewBox="0 0 80 20" width="30" height="30">
                  <rect width="80" height="10"></rect>
                  <rect y="20" width="80" height="10"></rect>
                  <rect y="40" width="80" height="10"></rect>
                </svg>
            </span>
        </label>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#showcases">Showcases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#tech-stack">Technology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>