<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/particles.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var STATIC_URL = "{{ SITEURL }}/{{ THEME_STATIC_DIR }}"
        var myNav = document.querySelector('nav');
        var jumbotron = document.querySelector('.jumbotron');
        var slider = document.querySelector('.slider');
        window.onscroll = function () {
            var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
            "use strict";
            if (scrollTop >= jumbotron.offsetHeight - myNav.offsetHeight) {
                myNav.classList.add("stuck");
            } else {
                myNav.classList.remove("stuck");
            }
        };
        jumbotron.setAttribute('style', 'height: ' + (fullHeightJumbotron ? window.innerHeight : slider.height * 1.8) + 'px');
        particlesJS.load('particles', STATIC_URL + '/js/particles.json', function () {
        });
    });
</script>