<div class="anchor" id="showcases"></div>
<section class="primary-bg">
    <div class="container">
        <div class="heading_container">
            <h2 class="section_heading">Showcases</h2>
            <div class="heading_text">Samples of our work</div>
        </div>
        <div class="row">
            <div class="col-lg-12 chapter">
                <div class="card">
                    <div class="card-body">
                        <h5>
                            Noodles.dev
                        </h5>
                        <p>A community curated and rated database of tutorials/courses/books on software development.
                            <a href="/noodles">Click to see the details</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>