<header>
    <div class="left-side">
        <h1>Building Web Apps & Automating Things</h1>
        <div class="subtext">
            <h3>Cost <span class="blue-text">effective</span> solutions</h3>
            <h3>Productive meetings with <span class="blue-text">fast deliveries</span></h3>
            <h3><span class="blue-text">24/7 support</span> with sameday response</h3>
        </div>
    </div>
    <div class="right-side">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/header_image.svg" alt="">
    </div>
</header>