<section class="intro">
    <div class="header header-left-align">
        <h2>Quality Custom <b class="different-color">Web Apps</b></h2>
        <div class="subheading">
            8+ years of experience on building all kinds of web applications
            for Ecommerce, Telecomunications, Accounting, ERPs, CRMs and many more
        </div>
    </div>

    <div class="blocks">
        <div class="block">
            <div class="rounded-bg"></div>
            <div class="header image">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/speed.svg" alt="">
            </div>
            <h3>Speed Matters</h3>
            <div class="subheading">
                Well built software is fast. Our apps have speed when loading or processing data.
            </div>
        </div>
        <div class="block">
            <div class="rounded-bg"></div>
            <div class="header image second-image">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/reliability.svg" alt="">
            </div>
            <h3>We Value Reliability</h3>
            <div class="subheading">
                Using a work process employed by all big software agencies ensures no shortcomings.
            </div>
        </div>
        <div class="block">
            <div class="rounded-bg"></div>
            <div class="header image">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/maintainability.svg" alt="">
            </div>
            <h3>Maintainable Products</h3>
            <div class="subheading">
                Importance is placed on writing modular code and documenting every change.
            </div>
        </div>
    </div>
</section>