<div id="showcases">
<section class="bg bg-blue-2">
    <div class="wrapper">
        <div class="header">
            <h2>Showcasing</h2>
            <h3><a href="{{ SITEURL }}/noodles.html">Noodles.dev</a></h3>
            <div class="subheading">A community curated database of technologies
                and learning resources that help developers
                to learn software development.</div>
            <div class="link-container">
                <a href="{{ SITEURL }}/noodles.html">See More</a>
            </div>
        </div>
        <div class="project">
            <div class="image">
                <a href="{{ SITEURL }}/noodles.html">
                    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/noodles.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="description">
        <div class="technologies">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/python.png" alt="">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/elastic.png" alt="">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/react.png" alt="">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/django.png" alt="">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/digitalocean.png" alt="">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/git.png" alt="">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/ubuntu.png" alt="">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/postgres.png" alt="">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/sentry.png" alt="">
        </div>
    </div>
</section>
</div>