<div id="showcases"></div>
<section class="bg bg-blue-2">
    <div class="header">
        <h2>Showcasing</h2>
        <div class="subheading">All of our projects have NDA clause and cannot mention our involvement.
            However, we have built a few projects specifically to show off
        </div>
    </div>
    <div class="project">
        <div class="image">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/noodles.png" alt="">
        </div>
        <div class="description">
            <div class="header">
                <h3>Noodles.dev</h3>
                <div class="subheading">A community curated database of technologies and learning resources</div>
            </div>
            <div class="technologies">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/python.png" alt="">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/elastic.png" alt="">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/react.png" alt="">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/django.png" alt="">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/digitalocean.png" alt="">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/git.png" alt="">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/ubuntu.png" alt="">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/postgres.png" alt="">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/technologies/sentry.png" alt="">
            </div>
            <div class="link-container">
                <a href="{{ SITEURL }}/noodles.html">All Details</a>
            </div>
        </div>
    </div>
</section>