<div id="process"></div>
<section>
    <div class="header">
        <h2>Working Process</h2>
        <div class="subheading">
            We are employing the same process as the big software houses but we are more flexible.
            Can use both Agile or Waterflow workflows, whatever is better suited for the project.
        </div>
    </div>
    <div class="blocks">
        <div class="block">
            <div class="header image">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/process/idea.svg" alt="">
            </div>
            <h3>Understand The Project</h3>
            <div class="subheading">
                Working closely with the customer for understanding the end goal and for defining clear and measurable requirements.
            </div>
        </div>
        <div class="block">
            <div class="header image">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/process/sketching.svg" alt="">
            </div>
            <h3>Planning Up</h3>
            <div class="subheading">
                Transforming requirements into UI/UX designs, technical charts and making sure that we have everything in order.
            </div>
        </div>
        <div class="block">
            <div class="header image">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/process/development.svg" alt="">
            </div>
            <h3>Development</h3>
            <div class="subheading">
                Writing modules, unit testing complex cases, setting up the servers, getting hands dirty.
            </div>
        </div>
        <div class="block">
            <div class="header image">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/process/final.svg" alt="">
            </div>
            <h3>Delivery Process</h3>
            <div class="subheading">
                After everything is cleaned up put up on the testing server for the final checkup, production server gets updated.
            </div>
        </div>
    </div>
<!--    <div class="link-container">-->
<!--        <a href="">Production Workflow In Detail</a>-->
<!--    </div>-->
</section>