{% extends "index.html" %}

{% block title %}{{ SITENAME }} - Articles by {{ author }}{% endblock %}

{% block opengraph %}
    {{ super() }}
    <meta property="og:title" content="{{ SITENAME }} - Articles by {{ author }}">
    <meta property="og:type" content="profile">
    <meta property="profile:first_name" content="{{ author.name.split(' ')[0] }}">
    <meta property="profile:last_name" content="{{ author.name.split(' ')[1:]|join(' ') }}">
    <meta property="profile:username" content="{{ author.slug }}">
{% endblock opengraph %}

{% block header %}
<header>
    <div class="left-side">
        <h1>Blog</h1>
        <div class="subheading">
            <h3>Entries by <strong>{{ author }}</strong></h3>
        </div>
    </div>
    <div class="right-side">
        <div class="subtext">
            <h3>Cost <span class="blue-text">effective</span> solutions</h3>
            <h3>Productive meetings with <span class="blue-text">fast deliveries</span></h3>
            <h3><span class="blue-text">24/7 support</span> with sameday response</h3>
        </div>
    </div>
</header>
{% endblock %}
