<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if GOOGLE_SITE_VERIFICATION %}
    <meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}">
    {% endif %}

    <title>{% block title %}{{ SITENAME }}{% if SITESUBTITLE and SHOW_SITESUBTITLE_IN_HTML %} - {{ SITESUBTITLE }}{%
        endif %}{% endblock title %}</title>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/homepage_style.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}

    {% if CSS_OVERRIDE %}
    <!-- CSS specified by the user -->
    <link href="{{ SITEURL }}/{{ CSS_OVERRIDE }}" rel="stylesheet">
    {% endif %}

    {% endblock head %}

    {% block opengraph %}
    {% for admin in FACEBOOK_ADMINS %}
    <meta property="fb:admins" content="{{ admin }}">
    {% endfor %}
    {% for LOC in LOCALE %}
    <meta property="og:locale" content="{{ LOC }}">
    {% endfor %}
    <meta property="og:site_name" content="{{ SITENAME }}">
    {% endblock opengraph %}
    <link rel="icon" type="image/svg+xml" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo_small.svg">
</head>

<body>
{% include "components/navigation.html" %}
{% block header %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
{% include "components/scripts.html" %}
</body>

</html>
