{% extends "base_homepage.html" %}

{% block header %}{% include "components/blog/header.html" %}{% endblock %}

{% block content %}
<section class="articles">
    {% for article in articles_page.object_list %}
    <div class="post-preview">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">
            <h2 class="post-title">
                {{ article.title }}
            </h2>
        </a>
        {% if SHOW_FULL_ARTICLE %}
        {{ article.content }}
        {% else %}
        <p class="article-summary">
            {% if article.has_summary %}
            {{ article.summary }}
            {% elif article.summary %}
            {{ article.summary|striptags|truncate(140) }}
            {% endif %}
        </p>
        {% endif %}
        <p class="post-meta">Posted on {{ article.locale_date }}</p>
    </div>
    {% endfor %}
</section>

{% include "pagination.html" %}
{% endblock content %}