{% extends "base_homepage.html" %}

{% block header %}
    <header class="jumbotron">
        <div id="particles">
        </div>
        <div class="slider">
            <h3>Showcases</h3>
            <h1><a href="https://noodles.dev">Noodles.dev</a></h1>
        </div>
    </header>
{% endblock %}


{% block content %}
    <h1>Noodles content</h1>
<script>
    var fullHeightJumbotron = true;
</script>
{% endblock %}

{% block footer %}
    {% include "components/contact.html" %}
{% endblock %}