.text-orange {
    color: #f15a22;
}

.background-orange {
    background-color: #f15a22;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
}

.card {
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.anchor {
    display: block;
    padding-top: 20px;
    margin-top: -20px;
}

.primary-bg {
    background-color: #fafafa;
}

.secondary-bg {
    background: #f8f8f8;
}

header.jumbotron {
    margin-bottom: 0;
    padding: 5%;
    height: 500px;
    background-color: #3e27ad;
    background-image: url('/theme/images/jumbo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    color: #fff;
}

header.jumbotron .slider {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 5;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

header.jumbotron .slider h1 {
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
}

header.jumbotron .slider h3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 60px;
}

header.jumbotron .project {
    margin-top: 60px;
    text-align: left;
}


#particles {
    /*background: rgb(7,7,7);*/
    /*background: linear-gradient(90deg, rgba(7, 7, 7, 0.9) 0%, rgba(11, 77, 72, 0.7) 100%);*/
    height: 100%;
}

nav {
    background-color: rgba(67, 25, 113, 0);
    transition: all 0.25s ease-in;
}

nav .li, a {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    padding: 0;
    position: relative;
    letter-spacing: 1px;
}

nav .li, a:hover {
    color: #f15a22;
}
nav .navbar-brand {
    padding-top: 10px;
    padding-bottom: 0px;
}

nav .navbar-brand svg {
    fill: #f15a22;
}

nav .dropdown-menu {
    background-color: transparent;
}

nav .dropdown-menu.show {
    margin-top: 8px;
    border-radius: 0;
}

nav .dropdown-menu .dropdown-item {
    color: #ffffff;
}

nav .dropdown-menu .dropdown-item:hover {
    background-color: #f15a22;
}

/*.sticky-top {*/
/*transition: all 0.25s ease-in;*/
/*background-color: rgba(255, 232, 67, 0.2);*/
/*}*/

/*!* style for when sitcky is applied *!*/
nav.stuck {
    background-color: rgba(64, 34, 155, 0.8) !important;
}

nav.stuck .dropdown-menu {
    background-color: rgba(64, 34, 155, 0.8);
}

/* show the collapse when navbar toggle is checked */
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

/* the checkbox used only internally; don't display it */
#navbar-toggle-cbox {
    display: none
}

.navbar-toggle svg {
    fill: #FFF0F0;
}

.navbar-toggle svg:hover {
    fill: #f15a22;
}


section .chapter {
    margin-bottom: 30px;
}

.heading_container {
    text-align: center;
    margin-bottom: 60px;
}

section .heading_container .section_heading {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 30px;
    color: #f15a22;
}

section .heading_container .heading_text {
    margin: 0 auto;
    width: 60%;
}

section h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 20px;
    color: #444444;
}

section img.header-icon {
    width: 40px;
    margin-left: auto;
    margin-right: 30px;
}

section .card {
    padding: 15px 30px;
    background: #FFFFFF;
    margin-bottom: 30px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-box-shadow: 0 3px 9px -2px #d0cece;
    -moz-box-shadow: 0 3px 9px -2px #d0cece;
    box-shadow: 0 3px 9px -2px #d0cece;
    border: 0;
}

section .card:hover {
    box-shadow: 0 6px 24px 0px #d0cece;;
}

section a {
    color: #f48c65;
}

section a:hover {
    text-decoration: none;
    color: #f15a22;
}

section p.details {
    font-size: 13px;
    color: #969595;
}


