#section-accordion{
  margin-bottom: 0;
  background: #fff;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: -4rem;
  .accordion-title{
    font-weight: 700;
    font-size: 3.5rem;
    margin-top: 6.25rem;
    margin-bottom: 2.688rem;
  }
}
.accordion-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 97.125rem;
  margin-bottom: 6rem;

  .accordion-item {
    display: flex;
    flex-direction: column;

    .title {
      padding: 1.625rem;
      background-color: $color-2-1;
      font-size: $fontsize-section-head;
      font-weight: 400;
      cursor: pointer;
      border-top: 0.125rem solid #D9D9F5;
      &:hover {
        background-color: $color-1-1;
        color: $color-2;
      }
    }

    .content {
      display: none
    }

    &.open {
      .title {
        background-color: #f8f8ff;
        padding: 1.625rem;
        font-size: $fontsize-section-head;
        font-weight: 400;
        border-bottom: 0.125rem solid #D9D9F5;
      }
      .content {
        display: block;
        padding: 4rem 2rem 1rem 2rem;
        background-color: #ffffff;
        color: $color-gray-2;
        animation: growDown 50ms ease;
        h4 {
          padding: $padding-sm/2 $padding-sm;
          border-radius: $fontsize-sm/3;
          display: inline-block;
          color: #4253F5;
          background-color: #CBD0FF;
          margin-bottom: 1.25rem;
        }
        p{
          font-size: $fontsize-section-head;
          line-height: 2.313rem;
          color: #2C2C31;
        }
      }
    }
  }
  .accordion-item:last-child{
    border-bottom: 0.125rem solid #D9D9F5;
  }
}
@media only screen and (max-width: 1600px){
  .accordion-container{
    max-width: 70.125rem;
  }
}
@media only screen and (max-width: 1150px){
  .accordion-container{
    max-width: 50rem;
  }
}
@media only screen and (max-width: 800px){
  .accordion-container{
    max-width: 40rem;
  }
}
@media only screen and (max-width: 576px){
  #section-accordion{
    .accordion-title{
      font-size: $fontsize-header-sub;
      margin-top: 3.75rem;
      margin-bottom: 1.625rem;
    }
  }
  .accordion-container{
    gap: 0;
    max-width: 22rem;
    .accordion-item{
      .title{
        border-bottom: none;
        font-size: $fontsize-md;
      }
    }
    .accordion-item:last-child{
      border-bottom: 0.125rem solid #D9D9F5;
    }
    .accordion-item.open{
      .title{
        font-size: $fontsize-md;
      }
      .content{
        padding: 2rem 1rem 1rem 1rem;
        p{
          font-size: $fontsize-md;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px){
  .accordion-container{
    max-width: 19rem;
  }
}