footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: $padding-lg;
  align-items: center;
  padding: 1.5rem 0;
  font-weight: 700;
  width: 88%;
  margin-left: auto;
  margin-right: auto;

  a, a:visited, a:active {
    color: $color-black-intense;
  }

  a:hover {
    color: $color-1;
  }

  .small {
    color: $color-gray-3;
    margin-top: 0.938rem;
    font-size: $fontsize-md;
    font-weight: 400;
  }
  .left-side{
    .logo{
      display: flex;
      align-items: center;
      gap: .75rem;
      font-size: $fontsize-section-head;
      font-weight: 400;
    }
  }
  .right-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: $padding-lg;
    font-size: $fontsize-lg;
  }
  a{
    margin-right: 1.875rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 1100px){
  footer {
    a {
      margin-right: 0;
    }
  }
}
@media only screen and (max-width: 800px) {
  footer {
    align-items: flex-start;
    flex-direction: column;

    .left-side {
      text-align: left;
    }

    .right-side {
      justify-content: space-between;
      display: contents;
    }
  }
}
@media only screen and (max-width: 576px){
  footer{
    a{
      font-size: 1.125rem;
    }
  }
}