section {
  .project {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $padding-lg;

    .image img {
      max-width: 100%;
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //gap: $padding-lg;

      .header {
        text-align: left;

        .subheading {
          color: $color-gray-3;
          font-size: $fontsize-md;
        }
      }

      .technologies {
        display: flex;
        gap: $padding-sm;
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;

        img {
          padding: $padding-sm/2;
          max-height: 1.85rem;
        }
      }

      .link-container {
        width: 100%;

        a {
          display: flex;
          align-items: center;
          gap: $padding-md;
          justify-content: flex-end
        }
      }
    }
  }
}

section.technologies {
  flex-direction: row;
  gap: $padding-sm;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  img {
    padding: $padding-sm/2;
    max-height: 3rem
  }
}

//
//section.process {
//  .center-link
//}

#cta {
  section.bg-cta {
    padding: 3rem 0;
    .bg-cta {
      padding: 3rem 0;
      background-color: $color-1-1;
    }
    .wrapper-cta {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .header {
        margin-left: 6.40rem;
        align-items: flex-start;
        max-width: 51.2rem;
        .subheading {
          margin-bottom: 3.75rem;
          text-align: left;
          color: $color-black-intense;
        }
      }
      h2 {
        text-align: left;
        margin-top: 2.313rem;
      }
    }
    .project{
      .image{
        margin-top: -3rem;
        img{
          width: 31rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  section .project {
    flex-direction: column;
  }
}
@media only screen and (max-width: 991px){
  #cta{
    section.bg{
      padding: 3rem 3rem;
    }
    section{
      .wrapper-cta{
        flex-direction: column;
      }
      .project{
        .image{
          margin-top: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px){
  #cta{
    section{
      .wrapper-cta{
        .header{
          margin-left: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 576px){
  #cta{
    .header{
      h2{
        font-size: $fontsize-header-sub;
      }
      .subheading{
        font-size: $fontsize-md;
      }
    }
  }
}