.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: $padding-lg*2;
  h1,h2,h3 {
    color: $color-black;
  }
  .subheading {
    text-align: center;
    color: $color-gray-3;
  }
}

.subsection {
  margin-bottom: $padding-md;
}

ul.styled > li {
  margin-left: $padding-lg;
  padding-left: $padding-md;
  &::marker {
    content: ">>";
  }
}