nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $padding-lg 0;
  font-weight: 700;

  a, a:visited, a:active {
    color: $color-black;
  }
  a:hover {
    color: $color-1;
  }

  .left-side a {
    display: flex;
    align-items: center;
    gap: $fontsize-sm;
    img {
      max-height: $fontsize-md;
    }
  }

  .right-side {
    .nav-menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: $padding-lg;
      .nav-item {cursor: pointer}
    }

    .toggle-nav-menu {
      display: none;
    }
  }
}

@media only screen and (max-width: 800px) {
  nav {
    .right-side {
      .menu-container {
        display: none;
        &.open {
          display: block;
          width: 100%;
          position: absolute;
          top: $navbar-height;
          left: 0;
          border-top: 1px solid $color-1;
          animation: growDown 300ms ease-in-out forwards;
          transform-origin: top center;

          .nav-menu {
            flex-direction: column;
            background-color: $color-white;
            padding: $padding-lg;
          }
        }
      }
      .toggle-nav-menu {
        display: block;
        cursor: pointer;
        svg {
          stroke: $color-gray;
          &:hover {stroke: $color-1}
        }
      }
    }
  }
}