@media only screen and (max-width: 580px) {
  body {
    padding: 0 $padding-md;

    header {
      margin: 0 (-$padding-sm);
      margin-bottom: $padding-lg*1.5;
      padding: $padding-lg $padding-sm;
    }

    section.bg {
      margin-left: -$padding-sm;
      margin-right: -$padding-sm;
    }
  }
}