@media only screen and (max-width: 580px) {
  body {
    padding: 0 $padding-md;

    header {
      margin: 0 (-$padding-sm);
      margin-bottom: $padding-lg*1.5;
      padding: 2rem 2.7rem;
    }
    footer {
      .right-side {
        flex-direction: column;
        gap: $padding-sm;
      }
    }
  }
}