.blue-text {
  color: $color-2;
}

h2 {
  font-size: $fontsize-section-head;
  line-height: $fontsize-section-head*1.5;
}

h3 {
  font-size: $fontsize-lg;
  line-height: $fontsize-lg*1.5;
}

.small {
  font-size: $fontsize-sm;
}

a {
  cursor: pointer;
}

p {
  display: block;
  margin-bottom: $padding-md;
}

h4 {
  font-size: $fontsize-md;
  font-weight: 600;
  margin: $padding-sm 0;
}
span.highlight {
  padding: $padding-sm/2;
  color: $color-2;
  background-color: $color-2-1;
}

ol {
  list-style: decimal;
  margin-left: $padding-lg;
  margin-bottom: $padding-md;
  li {
    margin-left: $padding-sm;
  }
}

strong {
  font-weight: 600;
}