.blue-text {
  color: $color-2;
}

h2 {
  font-size: $fontsize-section-head;
  line-height: $fontsize-section-head*1.5;
}

h3 {
  font-size: $fontsize-lg;
  line-height: $fontsize-lg*1.5;
}

.small {
  font-size: $fontsize-sm;
}

a {
  cursor: pointer;
}